{% extends "base.html" %}

{% block title %}TaskFlow{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto">
    {% if user %}
        <h1 class="text-3xl font-bold text-gray-800 mb-2">
            Добро пожаловать, {{ user.fullname }}!
        </h1>
        <p class="text-gray-600 mb-8">Ваши задачи</p>

        <a href="/tasks" class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">
            перейти к задачам
        </a>

        <p class="text-gray-600 mb-8">Ваши проекты</p>

        <a href="/tasks" class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">
            перейти к задачам
        </a>
        

    {% else %}
        <h1 class="text-3xl font-bold text-gray-800 mb-2">TaskFlow</h1>
        <p class="text-gray-600 mb-8">
            Залогинься, чтобы видеть свои задачи.
        </p>

        <a href="/auth/login" class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">
            Войти
        </a>
    {% endif %}
</div>
{% endblock %}