# Database
DB_HOST=pg
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_password_here
DB_NAME=your_db_name

# Application
SERVER_IP=0.0.0.0
SERVER_PORT=8000
ADMIN_NAME=admin
ADMIN_PASS=your_admin_password
SECRET_KEY=your-secret-key-here

# Tokens
verification_token_secret=your-verification-secret
reset_password_token_secret=your-reset-password-secret