{% extends "base.html" %}

{% block title %}Проекты - TaskFlow{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/projects.css') }}">
{% endblock %}

{% block content %}
<div class="container py-4 index-page projects-page">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="taskflow-title mb-0">Проекты</h1>
        <div>
        <a href="/projects/create" class="btn btn-primary">
            + Создать проект
        </a>
        </div>
    </div>

    <!-- Вкладки: Мои / Все проекты -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if tab != 'all' %}active{% endif %}"
            href="/projects/?user_id={{ user.id }}">
            Мои проекты
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if tab == 'all' %}active{% endif %}"
            href="/projects/?user_id={{ user.id }}&tab=all">
            Все проекты
            </a>
        </li>
    </ul>
    <table class="table table-light">
    <thead>
        <tr>
            <th scope="col">
                <a href="?sort_by=name&sort_dir={% if current_sort == 'name' and current_dir == 'asc' %}desc{% else %}asc{% endif %}&tab={{tab}}"
                    class="text-decoration-none text-dark">
                        Название проекта
                        {% if current_sort == 'name' %}
                            <span class="ms-1">{{ '▲' if current_dir == 'asc' else '▼' }}</span>
                        {% endif %}
                </a>
            </th>
            <th scope="col">
                <a href="?sort_by=owner&sort_dir={% if current_sort == 'owner' and current_dir == 'asc' %}desc{% else %}asc{% endif %}&tab={{tab}}"
                    class="text-decoration-none text-dark">
                        Владелец
                        {% if current_sort == 'owner' %}
                            <span class="ms-1">{{ '▲' if current_dir == 'asc' else '▼' }}</span>
                        {% endif %}
                </a>
            </th>
            <th scope="col">
                <a href="?sort_by=project_type&sort_dir={% if current_sort == 'project_type' and current_dir == 'asc' %}desc{% else %}asc{% endif %}&tab={{tab}}"
                    class="text-decoration-none text-dark">
                        Тип проекта
                        {% if current_sort == 'project_type' %}
                            <span class="ms-1">{{ '▲' if current_dir == 'asc' else '▼' }}</span>
                        {% endif %}
                </a>
            </th>
            <th scope="col">
                <a href="?sort_by=created_at&sort_dir={% if current_sort == 'created_at' and current_dir == 'asc' %}desc{% else %}asc{% endif %}&tab={{tab}}"
                    class="text-decoration-none text-dark">
                        Дата создания
                        {% if current_sort == 'created_at' %}
                            <span class="ms-1">{{ '▲' if current_dir == 'asc' else '▼' }}</span>
                        {% endif %}
                </a>
            </th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <th scope="row"><a href="/projects/{{ project.id }}/">{{ project.name }}</a></th>
            <td><a href="/user/{{ project.creator_id }}/home/">{{ project.owner }}</a></td>
            <td>{{ project.project_type }}</td>
            <td>{{ project.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
            <td>
                <a href="/projects/{{ project.id }}/edit" class="btn btn-sm btn-outline-primary">
                    Редактировать
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}