{% extends "tasks/tasks_get.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/projects.css') }}">
{% endblock %}

{% block title %}Проект: "{{ project.name }}" - TaskFlow{% endblock %}

{% block project_content %}
    <!-- Заголовок проекта -->
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="taskflow-title mb-0">Проект: "{{ project.name }}"</h1>
        <div>
            <a href="/projects/{{ project.id }}/edit" class="btn btn-outline-primary">
                Редактировать
            </a>
        </div>
    </div>

    <!-- Информация о проекте -->
    <div class="card shadow-sm mb-4 project-detail-page">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <strong>Владелец:</strong>
                    <p class="mb-0"><a href="/user/{{ project.creator_id }}/home/">{{ project.owner }}</a></p>
                </div>
                <div class="col-md-3">
                    <strong>Тип проекта:</strong>
                    <p class="mb-0">{{ project.project_type }}</p>
                </div>
                <div class="col-md-3">
                    <strong>Описание:</strong>
                    <p class="mb-0">{{ project.description }}</p>
                </div>
                <div class="col-md-3">
                    <strong>Дата создания:</strong>
                    <p class="mb-0">{{ project.created_at.strftime('%d.%m.%Y') }}</p>
                </div>
                <div class="col-md-3">
                    <strong>Задач:</strong>
                    <p class="mb-0">{{ tasks|length }}</p>
                </div>
                <div class="col-md-3">
                    <strong>Пользователи проекта:</strong>
                    {% for user in project_users %}
                        <p class="mb-0">{{ user.fullname }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}